[alias]
	lg = log --pretty=format:'%C(magenta)%h %C(green)%ai|%<(20,trunc)%ar %C(blue)%<(35)%ae %C(reset)%s'
    plog = log --pretty=format:"%C(auto)%h\\ %C(green)%ad\\ %C(blue)%<(14)%an\\ %C(auto)%d\\ %Creset%<(120,trunc)%s" --date=format:"%Y-%m-%d\\ %H:%M:%S"
	todaylg = log --since=1.day --pretty=format:'%C(magenta)%h %C(green)%ai|%<(20,trunc)%ar %C(blue)%<(35)%ae %C(reset)%s'
    lastlg = log -1 HEAD
	st = "status"
	amend = "commit --amend --no-edit"
    d = difftool
    ci = commit
    co = checkout
    br = branch
    unstage = reset HEAD --
    tree = log --graph --pretty=oneline --decorate=short --abbrev-commit --all
[user]
	email = heartfollower1988@163.com
	name = heartfollower1988
[pull]
	rebase = true
[color]
    branch = auto
    diff = auto
    status = auto
    show = auto
    ui = true
[diff]
    tool = vimdiff
[push]
    default = matching
[core]
    whitespace = cr-at-eol
[merge]
    tool = vimdiff
[mergetool]
    keepBackup = false
